extends layout

block content
  #map
  #vignette
  #target-feedback
  #boat-waves
  #boat
  #compass-background
  #compass-arrow
  #controls.ol-unselectable
    #rotate-left.button
    #toggle-sail.button
    #rotate-right.button
  
  script(src="javascripts/NumberControl.js")
  script(src="javascripts/game.js")
    